<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
    <title>p4k.ai</title>
</head>

<body>
    <h3>
         <a href="{{ url_for('index') }}">p4k.ai: Pitchfork Rating Prediction</a>
    </h3>

    <div class="alert alert-danger" role="alert">
        <p class="alert-link">
            Sorry, there was a problem accessing the database.
            Please check the connection settings and try again later.
        </p>
    </div>

</body>
</html>
